@page "/profile"

<div class="section">
    <h1 class="company__name">Autumn Cafe</h1>
    <img class="company__photo"src="/images/autumn-cafe.jpg" alt="Autumn Cafe" />
    <h2 class="section__title">About Us</h2>
    <p class="company__description">Coffee fair trade macchiato, arabica mazagran black americano cappuccino plunger pot a kopi-luwak, latte spoon variety a, cappuccino white rich doppio cappuccino steamed. Organic turkish robust variety kopi-luwak americano java single origin, aromatic robust con panna trifecta, crema, breve latte chicory crema, frappuccino, crema filter acerbic bar aroma. Plunger pot aftertaste, breve, skinny medium, fair trade java cup, sit, cultivar mazagran carajillo saucer, robust mocha flavour milk cup medium mazagran. Variety plunger pot milk mocha instant, coffee et latte shop wings cortado, beans cappuccino, doppio a fair trade saucer black. Qui, wings café au lait single origin lungo, frappuccino, froth mocha aftertaste so, medium black, coffee white, carajillo sweet, percolator extra decaffeinated turkish organic shop ut single origin.</p>
</div>

<div class="section">

    <h2 class="section__title">Gallery</h2>
    <div class="gallery">
        <div class="image-list">
            <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div>
            <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div> <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div> <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div>
            <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div>
            <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div> <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div> <div class="image">
                <img src="/images/corner.jpg" alt="corner of coffee shop" />
            </div>
            <div class="image">
                <img src="/images/coffewithfriends.jpg" alt="coffee with friends" />
            </div>
        </div>
        <div class="selected-image">
            <img src="/images/corner.jpg" alt="corner of coffee shop" />
        </div>

    </div>
</div>

<div class="section">
    <h2 class="section__title">Menu</h2>
    <div class="menu">
        <div class="menu__section">
            <h3 class="section__title">Hot Drinks</h3>
            <div class="menu-item__wrapper">
                <div class="menu-item__info">
                    <div class="menu-item__photo">
                        <img src="/images/coffee.jpg" alt="cup of coffee" />
                    </div>
                    <div class="menu-item__name-price">
                        <p class="menu-item__name">Menu Item Name</p>
                        <p class="menu-item__price">Menu Item Price</p>
                    </div>
                </div>
                <div class="more-details">
                    <p>More details</p>
                    <div></div>
                </div>
            </div>
            <div class="menu-item__wrapper">
                <div class="menu-item__info">
                    <div class="menu-item__photo">
                        <img src="/images/coffee.jpg" alt="cup of coffee" />
                    </div>
                    <div class="menu-item__name-price">
                        <p class="menu-item__name">Menu Item Name</p>
                        <p class="menu-item__price">Menu Item Price</p>
                    </div>
                </div>
                <div class="more-details">
                    <p>More details</p>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="menu__section">
            <h3 class="section__title">Cold Drinks</h3>
            <div class="menu-item__wrapper">
                <div class="menu-item__info">
                    <div class="menu-item__photo">
                        <img src="/images/coffee.jpg" alt="cup of coffee" />
                    </div>
                    <div class="menu-item__name-price">
                        <p class="menu-item__name">Menu Item Name</p>
                        <p class="menu-item__price">Menu Item Price</p>
                    </div>
                </div>
                <div class="more-details">
                    <p>More details</p>
                    <div></div>
                </div>
            </div>
            <div class="menu-item__wrapper">
                <div class="menu-item__info">
                    <div class="menu-item__photo">
                        <img src="/images/coffee.jpg" alt="cup of coffee" />
                    </div>
                    <div class="menu-item__name-price">
                        <p class="menu-item__name">Menu Item Name</p>
                        <p class="menu-item__price">Menu Item Price</p>
                    </div>
                </div>
                <div class="more-details">
                    <p>More details</p>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
